CH3/src/flows.json
[
    {
        "id": "aaffd4e4.ce4448",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4d27ecd.9ad478",
        "type": "tcp in",
        "z": "aaffd4e4.ce4448",
        "name": "cooja input",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "fca03592.539fd",
                "2e0d4f9c.27ba28"
            ]
        ]
    },
    {
        "id": "fca03592.539fd",
        "type": "debug",
        "z": "aaffd4e4.ce4448",
        "name": "cooja output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "2e0d4f9c.27ba28",
        "type": "function",
        "z": "aaffd4e4.ce4448",
        "name": "mqtt payload formatter",
        "func": "var inBuf = String(msg.payload);\nvar tsPayload;\nif(!inBuf.startsWith(\"DEBUG\")) {\n    tsPayload = JSON.parse(inBuf);\n}\nvar field1 = msg.payload.field1;\nvar field2 = msg.payload.field2;\nvar field3 = msg.payload.field5;\nvar ch_id = \"1724994\"\n\nmsg.topic = \"channels/\" + ch_id + \"/publish\"\nmsg.payload = \"field1=\" + tsPayload[\"led0\"] + \"&field2=\" + tsPayload[\"led1\"] + \"&field3=\" + tsPayload[\"led2\"] + \"&status=MQTTPUBLISH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "838594f1.49d678",
                "ad4720f2.209b7"
            ]
        ]
    },
    {
        "id": "838594f1.49d678",
        "type": "mqtt out",
        "z": "aaffd4e4.ce4448",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b3e212e8.e90b3",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad4720f2.209b7",
        "type": "debug",
        "z": "aaffd4e4.ce4448",
        "name": "mqtt payload output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "b3e212e8.e90b3",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "NQc6HxMhKC8lCAIvKDsaFwA",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
